body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background: url('../assets/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #6b4e16;
}

.invitacion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.invitacion {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 60px;
    border-radius: 20px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    position: relative;
    margin: 50px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.corona {
    width: 150px;
    margin-bottom: 10px;
}

.mis-xv {
    font-size: 1.5rem;
    color: #c9a548;
    margin-bottom: 5px;
}

.nombre {
    font-size: 5rem;
    font-family: 'Brush Script MT', cursive;
    color: #c9a548;
    margin-bottom: 20px;
}

.frase {
    font-style: italic;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.fecha .dia,
.fecha .mes {
    font-size: 0.9rem;
    background-color: #c9a548;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.fecha .numero {
    font-size: 2rem;
    color: #c9a548;
}

.info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}

.info h3 {
    margin-bottom: 5px;
    color: #c9a548;
}

.iconos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 40px;
}

.icono {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono img {
    width: 50px;
    height: 50px;
}

.icono p {
    margin-top: 5px;
}


.icono:hover img {
    transform: rotate(20deg);
}

.icono.activo img {
    transform: scale(1.2);
    filter: brightness(1.1) sepia(1) hue-rotate(20deg) saturate(2);
}

.quinceanera {
    width: 100%;
    max-width: 280px;
    margin-top: -10px;

}

.vestimenta img {
    width: 80px;
    height: auto;
    margin-top: 5px;
}

.reservado img {
    width: 50px;
    height: auto;
    margin-top: 2px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #4d3b1f;
}

.countdown-item {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.colon {
    font-weight: bold;
    font-size: 1.2rem;
    color: #4d3b1f;
}



/* Responsive para móviles */
@media screen and (max-width: 480px) {
    .invitacion {
        padding: 30px;
        margin: 30px 10px;
    }

    .nombre {
        font-size: 2.5rem;
    }

    .frase {
        font-size: 1rem;
    }

    .fecha {
        flex-direction: column;
        gap: 5px;
    }

    .fecha .dia,
    .fecha .mes {
        font-size: 0.8rem;
        padding: 4px 8px;
    }

    .fecha .numero {
        font-size: 1.5rem;
    }

    .info {
        flex-direction: column;
        gap: 15px;
    }

    .iconos {
        flex-wrap: wrap;
        gap: 15px;
    }

    .icono {
        width: 60px;
    }

    .quinceanera {
        max-width: 100%;
    }

    .countdown-container {
        max-width: 90%;
        font-size: 1rem;
    }

    .corona {
        width: 100px;
    }
}